{% extends 'base.html.twig' %}

{% block title %} {{ product.name }} {% endblock %}

{% block body %}
    <div class="col-lg-12 bg-light">
        <div class="row text-center p-5">
            <h2 class="fs-4 fw-bold">{{ product.name }}</h2>
            <p class="mb-0">{{ product.description }}</p>
        </div>
        <hr/>
        <div class="row text-center">
            <h3>Add to cart</3>
            <div class="d-flex justify-content-center p-5">
                {{ form_start(form,{'attr': {'class': 'row row-cols-lg-auto g-3 align-items-center'}}) }}
                <div class="col-12">
                    <div class="input-group mb-3">
                        {{ form_label(form.product_qty, 'Quantity', {'label_attr': {'class': 'input-group-text'}}) }}
                        {{ form_widget(form.product_qty,{'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="col-12" style="margin-top: unset;">
                    {{ form_row(form.submit, {'attr': {'class': 'btn btn-primary'}}) }}
                </div>
                {{ form_end(form) }}
            </div>
        </div>
          <hr/>
        <div class="d-flex justify-content-end p-5">
            <a href="{{ url('index') }}" class="btn btn-dark btn-lg">Back to products list</a>
        </div>
    </div>

{% endblock %}
